#div2{
width:200px;height:100px;
position:absolute;	/*子元素绝对定位*/
bottom:-110px;
left:0;
margin-left:-50%;
border:1px solid #666;
background:#EEE;
text-align:center;
display:none;
}
ul,p {padding: 0;margin: 0;font-size:15px;}
li {list-style: none;}
#list {
 width: 210px;
 border: 1px solid ;
 margin: 0 auto;
}
#list p {
 height: 15px;
 line-height: 13px;
 text-indent: 20px;/*文字缩进20px*/
 background: url(C:/Users/Administrator/Desktop/seven.png) no-repeat 5px center;/*前面小箭头*/
 cursor: pointer;
}
#list .active { /* 点击时添加的类名 */
 background: url(C:/Users/Administrator/Desktop/eight.png) no-repeat 5px center;
}
#list ul {display: none;}
#list ul li {
 line-height: 24px;

 
}
  *{
		margin: 0;
        padding: 0;
        font-size: 12px;
        font-family: "微软雅黑";
	}
	.all {
        width: 100%;
        height: 790px;
        /*background-color: #7fa4f2;*/
        background: linear-gradient(to right, #879eee, #ba78dc); /* 标准的语法 */
		}
	.chat_index {
		width: 1000px;
		height: 600px;
		border: 1px solid black;
		position: relative;
		top: 100px;
		margin: 0 auto;
			}
	.chat_banner {
		background: linear-gradient(to right, #a41adc, #ee1351, #a41adc); /* 标准的语法 */
		width: 999px;
		height: 50px;
		border: 1px solid blue;
		}
	.chat_body {
		width: 999px;
        height: 546px;
        border: 1px solid red;
		}
	.chat_online {
        overflow: hidden;
        float: left;
        height: 546px;
        width: 200px;
        border: 1px solid yellow;
        background-color: white;
		}
	.search_online {
        height: 40px;
        border: 1px solid black;
	    }
    .search_online input[type="text"] {
        outline: none;
        margin: 2px auto;
        height: 30px;
        width: 60%;
        border-radius: 8px;
        text-indent: 2em;
        }
    .chat_main {
        float: left;
        width: 548px;
        height: 546px;
        border: 1px solid seagreen;
        /*background-color: white;*/
        background:url("C:/Users/Administrator/Desktop/bj.jpg") no-repeat;
        background-size: cover;
		}
	.send_message {
        width: 548px;
        height: 65px;
        position: absolute;
        bottom: 0px;
        background: linear-gradient(to top, rgba(9, 216, 237, 0.99), #72cad4);
		}
	.send_message input[type="text"] {
        width: 470px;
        height: 30px;
        margin-top: 16px;
        margin-left: 10px;
        border-radius: 10px 0 0 10px;
        text-indent: 2em;
        outline: none;
        background-color: white;
        border: none;
		}
	.send_message input[type="button"] {
        border-radius: 0 10px 10px 0;
        width: 35px;
        height: 30px;
        background-color: white;
        border: none;
        margin-left: 0;
        background-color: white;
        border: none;
        outline: none;
		}
    .send_message input[type="button"]:hover {
        background-color: orangered;
		}
    .send_message input[type="button"]:active {
        background-color: #879eee;
		}
    .chat_card {
        float: left;
        width: 245px;
        height: 546px;
        border: 1px solid saddlebrown;
        background-color: #f1fea9;
		background-image:url(C:/Users/Administrator/Desktop/card2.jpeg);
		background-repeat:no-repeat;
		}
    .chat_content ul{
        list-style-type: none;
		}
	.chat_content{
        overflow: auto;
        width: 540px;
        /*设置高度滚动条才有效*/
        height: 470px;
		}
	.chat_content li{
        margin-top: 10px;
        width: 540px;
        clear: both;
        display: block;
		}
	.chat_content li img{
        margin: 6px 0 0 0;
		}
   .chat_content li span {
        background: #ffd351;
        padding: 10px;
        border-radius: 10px;
        /*最大宽度不能太长，不然布局会混乱*/
        max-width: 400px;
        border: 1px solid white;
        box-shadow: 0 0 3px #879eee;
        margin: 6px 10px 0 10px;
        overflow: hidden;
		}
    .chat_content li img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        }
	.chat_content li img.imgleft {
        margin-left: 10px;
        float: left;
		}
	.chat_content li img.imgright {
        margin-right: 10px;
        float: right;
		}
	.chat_content li span.spanleft {
        float: left;
		}
	.chat_content li span.spanright {
        float: right;
		}